/* Basic editor styles */
@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  font-weight: normal;
  font-style: normal;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  --custom_color_accent: #667BC6;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-bar {
  width: 12%;
  height: 100%;
  padding-top: 40px;
  padding-left: 30px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #CCCCCC;
  button {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;
    border: none;
    background-color: inherit;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #AAAAAA;
    }
  }
}
.main-content {
  width: 85%;
  height: 100%;
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.top-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.page-title {
  width: 100%;
  height: 30px;
}
.name {
  width: 20%;
  text-align: center;
}
.hamburger {
  width: 4%;
  height: 34px;
  margin-right: 10px;
  border: 1px solid #333333;
  background-color: #CCCCCC;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #AAAAAA;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
.new-page {
  width: 12%;
  height: 30px;
  border: 1px solid #333333;
  background-color: #CCCCCC;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #AAAAAA;
  }
}
.log-out {
  width: 10%;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #333333;
  background-color: #CCCCCC;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #AAAAAA;
  }
}

.pages-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.page-component-head {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.page-component-head * {
  width: 30%;
  text-align: center;

  &:first-child {
    width: 100%;
    text-align: left;
  }
  &:last-child {
    width: 10%;
    margin-left: 15px;
  }
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.page-component {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.page-component * {
  width: 30%;
  text-align: center;

  &:first-child {
    width: 100%;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    text-align: left;
  }
  &:last-child {
    width: 10%;
    cursor: pointer;
    padding: 2.5px 2.5px;
    font-size: 14px;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: #CCCCCC;
    margin-left: 15px;
    &:hover {
      background-color: #AAAAAA;
    }
  }
  &:last-child.none-mark {
    width: 10%;
    margin-left: 15px;
    border: none;
    background: none;
    cursor: default;
  }
}