/* Basic editor styles */
@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  font-weight: normal;
  font-style: normal;
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.input-title {
  padding-left: 10px;
  width: 70%;
  border: 1px solid #777777;
  border-radius: 8px;
}
.submit-button {
  width: 15%;
  border: 1px solid #333333;
  background-color: #CCCCCC;
  opacity: 0.7;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.control-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-group {
  width: 40%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.button-group button {
  margin: 5px 0;
  padding: 0;
  width: 26px;
  height: 26px;
}
.ProseMirror {
  min-height: 300px;
  max-height: 300px;
  min-width: 700px;
  max-width: 700px;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .button-group {
    width: 60%;
    grid-template-columns: repeat(10, 1fr);
  }
  .ProseMirror {
    min-height: 200px;
    max-height: 200px;
    min-width: 580px;
    max-width: 580px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
  }
}
@media (max-width: 425px) {
  .button-group {
    width: 80%;
    grid-template-columns: repeat(8, 1fr);
  }
  .ProseMirror {
    min-height: 200px;
    max-height: 200px;
    min-width: 305px;
    max-width: 305px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
  }
}
@media (max-width: 375px) {
  .button-group {
    width: 80%;
    grid-template-columns: repeat(8, 1fr);
  }
  .ProseMirror {
    min-height: 200px;
    max-height: 200px;
    min-width: 265px;
    max-width: 265px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
  }
}
@media (max-width: 320px) {
  .button-group {
    width: 80%;
    grid-template-columns: repeat(8, 1fr);
  }
  .ProseMirror {
    min-height: 200px;
    max-height: 200px;
    min-width: 220px;
    max-width: 220px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
  }
}

.tiptap {
  height: 250px;
  width: 100%;
  border: 2px solid lightgrey;
  padding: 20px 20px;
  :first-child {
    margin-top: 0;
    font-family: "NanumSquare";
    --custom_value_table_border: 2px;
    --custom_value_border_radius: 16px;
    --custom_color_accent: #667BC6;
    --custom_color_table_head: #D2DAFF;
    --custom_color_table_odd: #FFFFFF;
    --custom_color_table_even: #F5F5F5;
    --custom_color_table_border: #000000;
    --custom_color_code: #555555;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }
  h1, 
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h1 { 
    font-size: 1.4rem; 
  }
  h2 { 
    font-size: 1.2rem; 
  }
  h3 { 
    font-size: 1.1rem; 
  }
  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }

  /* Code and preformatted text styles */
  code {
    font-size: 16px;
    font-family: 'NanumSquare';
    color: white;
    background-color: var(--custom_color_code);
    border-radius: 0.4rem;
    font-size: 0.85rem;
    padding: 5px 5px;
  }
  pre {
    font-size: 16px;
    background-color: var(--custom_color_code);
    border-radius: 0.5rem;
    color: white;
    font-family: 'NanumSquare';
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }
  blockquote {
    border-left: 3px solid lightseagreen;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
  hr {
    border: 1px solid black;
    margin: 2rem 0;
  }
  a {
    cursor: pointer;
    color: var(--custom_color_accent);
  }
  u {
    text-underline-offset: 6px;
  }

  /* ----- Table ----- */
  table {
    border-collapse: separate;
    border: var(--custom_value_table_border) solid var(--custom_color_table_border);
    border-radius: var(--custom_value_border_radius);
    border-spacing: 0;
    overflow: hidden;
  }
  /* Table Head */
  tbody > tr:first-child {
    border-bottom: var(--custom_value_table_border) solid var(--custom_color_table_border);
  }
  tbody > tr:last-child > th:first-child {
    border-bottom: none;
  }
  tbody > tr > th {
    background-color: var(--custom_color_table_head);
    border-bottom: var(--custom_value_table_border) solid var(--custom_color_table_border);
    border-right: var(--custom_value_table_border) solid var(--custom_color_table_border);
  }
  tbody > tr:first-child > th:last-child {
    border-right: none;
  }
  /* Table Body Odd Row */
  tbody > tr:nth-child(odd):not(:first-child) {
    background-color: var(--custom_color_table_odd);
  }
  /* Table Body Even Row */
  tbody > tr:nth-child(even):not(:first-child) {
    background-color: var(--custom_color_table_even);
  }
  /* Table Body Internal */
  th > p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  th, td {
    vertical-align: center;
  }
  td > p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.is-active {
  background-color: lightsalmon;
}

.drag-handle {
  align-items: center;
  background: #f0f0f0;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: grab;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}